<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.employee.mapper.UserMapper">
	<!-- 获得用户信息 -->
	<select id="getUser" resultType="cn.com.employee.po.UserCustom">
		SELECT * FROM user where user=#{user}
	</select>
	<!-- 获得用户列表 -->
	<select id="getUserList" resultType="cn.com.employee.po.UserCustom">
		SELECT * FROM user WHERE userType='ordinary'
	</select>
	<!-- 创建新用户 -->
	<insert parameterType="cn.com.employee.po.UserCustom" id="insertUser">
		INSERT INTO user (user,password,userType) VALUES (#{user},#{password},#{userType})
	</insert>
	<!-- 更改密码 -->
	<update id="updatePassword">
		UPDATE user SET password=#{password} WHERE user=#{user} and userType=#{userType}
	</update>
	<!-- 修改用户信息 -->
	<update id="updateUser">
		UPDATE user SET 
		<trim>
			<if test="">
				
			</if>
		</trim>
	</update>
	<!-- 删除用户 -->
	<delete id="deleteUser">
		DELETE FROM user WHERE user=#{user} and userType=#{userType}
	</delete>
	<select id="getUser"></select>
</mapper>